body {
    font-family: 'Ubuntu', sans-serif;
  }

.about-us-section {
    height: 150px;
    background-color: #194174 !important;
    /* Blue background color */
    color: rgb(255, 255, 255);
    padding: 50px 0;
    position: relative;
}

.breadcrumb {
    background-color: #194174 !important;
    /* background: transparent; */
    justify-content: center;
    /* Center the breadcrumb */
}

.breadcrumb-item+.breadcrumb-item::before {
    content: '>' !important;
    color: rgb(255, 255, 255) !important;
    /* Color of the separator */
    padding: 0 10px;
    /* Adjust the spacing between items */
}
.con h1{
    font-size: 2.7rem;
    font-weight: bold;
}

.breadcrumb-item a {
    color: rgb(255, 255, 255);
    /* Color of the breadcrumb links */
}
.breadcrumb-item a:hover{
    color: white;
    text-decoration: underline;
}

.display-4 {
    font-weight: bolder;
    margin-top: -30px;
}

.section2 {
    padding-top: 40px;
}

h2 {
    font-weight: 800;
}

.float1 {
    height: 253px;
    width: 510px;
    float: right;
    margin: 0 0 20px 20px;
}

.float2 {
    height: 240px;
    width: 340px;
    float: left;
    margin: 20px 20px 0 0;
}

@media (max-width: 768px) {
    .float-image {
        float: none;
        margin: 10px 0;
    }
}


.col p {
    text-align: justify;
}