.about-us-section {
    height: 150px;
    background-color: #194174 !important;
    /* Blue background color */
    color: rgb(255, 255, 255);
    padding: 50px 0;
    position: relative;
}

.breadcrumb {
    background-color: #194174 !important;
    /* background: transparent; */
    justify-content: center;
    /* Center the breadcrumb */
}

.breadcrumb-item+.breadcrumb-item::before {
    content: '>' !important;
    color: rgb(255, 255, 255) !important;
    /* Color of the separator */
    padding: 0 10px;
    /* Adjust the spacing between items */
}

.con h1 {
    font-size: 2.7rem;
    font-weight: bold;
}

.breadcrumb-item a {
    color: rgb(255, 255, 255);
    /* Color of the breadcrumb links */
}

.breadcrumb-item a:hover {
    color: white;
    text-decoration: underline;
}

.display-4 {
    font-weight: bolder;
    margin-top: -30px;
}




/* navigation bar */
.aside-bar .nav-link {
    color: #194174;
}

nav {
    margin-top: 20px;
}

.aside-bar .nav-link.active {
    border-radius: 20px;
    color: white;
    background-color: #194174;
}

.section2 {
    margin-top: 20px;
}

.aside-bar {
    border-radius: 20px;
    padding: 35px;
    /* height: auto; */
    height: calc(100vh - 240px);

}

.content-item {
    padding-left: 30px;
}

p {
    text-align: justify;
    margin: 20px;
}

.content {
    padding-top: 20px;
}

/* .table{
    width: 860px;
} */

@media (max-width: 991px) {
    .aside-bar {
        height: auto;
        /* Adjust height for smaller screens */
        max-height: 600px;
        /* Set a maximum height */
        /* overflow-y: auto; */

    }
}


@media (min-width: 768px) {
    .container-fluid {
        flex-direction: row;
    }

    .aside-bar {
        order: 0;
        flex: 0 0 25%;
        /* Adjust width as needed */
    }

    .content {
        order: 1;
        flex: 0 0 75%;
        /* Adjust width as needed */
    }
}