body {
    font-family: 'Ubuntu', sans-serif;
  }


  .about-us-section {
    height: 150px;
    background-color: #194174 !important;
    /* Blue background color */
    color: rgb(255, 255, 255);
    padding: 50px 0;
    position: relative;
  }
  
  .breadcrumb {
    background-color: #194174 !important;
    /* background: transparent; */
    justify-content: center;
    /* Center the breadcrumb */
  }
  
  .breadcrumb-item+.breadcrumb-item::before {
    content: '>' !important;
    color: rgb(255, 255, 255) !important;
    /* Color of the separator */
    padding: 0 10px;
    /* Adjust the spacing between items */
  }
  .con h1{
    font-size: 2.7rem;
    font-weight: bold;
  }
  
  .breadcrumb-item a {
    color: rgb(255, 255, 255);
    /* Color of the breadcrumb links */
  }
  .breadcrumb-item a:hover{
    color: white;
    text-decoration: underline;
  }
  
  .display-4 {
    font-weight: bolder;
    margin-top: -30px;
  }
  


  .btn{

    background: #194174 !important;
}






.image-row {
    margin-bottom: 20px;
}

.image-detail {
    text-align: justify;    
}
.detail2{
    padding-top: 75px;
}
.image-detail h2{
    font-weight: 700;
}
.firstp{
    margin-top: -20px;
    margin-bottom: 50px;
}






.section3{
    padding-top: 30px;
}
.section3 p{
    text-align: justify;
}
.section3 h2{
    font-weight: bolder;
    font-size: larger;
}
.section3 h1{
    font-size: xx-large;
    font-weight: 650;
}